.loader,
.loader:after {
  border-radius: 50%;
}

.loaderSmall,
.loaderSmall:after {
  width: 1em;
  height: 1em;
}

.loaderLarge,
.loaderLarge:after {
  width: 5em;
  height: 5em;
}

.loader {
  transform: translateZ(0);
  animation: spin 0.9s infinite linear, fade 0.3s linear;
}

.loaderSmall {
  border-top: 0.2em solid var(--color-white);
  border-right: 0.2em solid var(--color-white);
  border-bottom: 0.2em solid var(--color-white);
  border-left: 0.2em solid transparent;
}

.loaderLarge {
  border-top: 0.8em solid var(--color-grey-scale);
  border-right: 0.8em solid var(--color-grey-scale);
  border-bottom: 0.8em solid var(---color-grey-scale);
  border-left: 0.8em solid transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
