.alertDialogue {
  padding: 0 1rem;
  border-radius: 8px;
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: -300px;
  margin: 1rem;
  animation: slide 0.5s forwards;
  & p {
    display: flex;
    align-items: center;
  }
  & svg {
    margin-right: 0.5rem;
    min-width: 24px;
  }
}

.warning,
.failure,
.success {
  background-color: var(--color-background);
}

.warning {
  border: 2px solid var(--color-warning);
}

.failure {
  border: 2px solid var(--color-error);
}

.success {
  border: 2px solid var(--color-success);
}

@keyframes slide {
  100% {
    left: 0;
  }
}
