button,
input[type='submit'],
.custom-file-upload,
.button {
  background-color: var(--color-accent);
  border-radius: 24px;
  font-size: var(--font-size-s);
  text-transform: uppercase;
  padding: var(--spacing-s) var(--spacing-m);
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s;
  & > div {
    position: absolute;
    top: 0.9rem;
    left: var(--spacing-m);
  }
  &:hover {
    background-color: var(--color-link-hover);
  }
  &:disabled {
    background-color: var(--color-grey-scale);
    cursor: default;
  }
}

input[type='file'] {
  display: none;
}
