input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
select,
textarea {
  font-size: 1em;
  border: none;
  border-bottom: 2px solid var(--color-grey-scale);
  padding: 0.5em;
  margin-top: 0.5em;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    border-bottom: 2px solid var(--color-accent);
  }
}

textarea {
  border-left: 2px solid var(--color-grey-scale);
  border-bottom: 2px solid var(--color-grey-scale);
  resize: none;
  &:focus {
    border-left: 2px solid var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
  }
}

input[type='text'].input-error,
input[type='email'].input-error,
input[type='password'].input-error,
input[type='number'].input-error,
select.input-error {
  border-bottom: 2px solid var(--color-error);
}
.required {
  position: relative;
  & input[type='text'],
  & input[type='email'],
  & input[type='password'],
  & input[type='number'],
  & select {
    background-image: url('../icons/asterisk.svg');
    background-position: center right 0.875em;
    background-repeat: no-repeat;
    background-size: 0.875em 0.875em;
  }
  & span {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    font-size: 0.875em;
    color: var(--color-error);
  }
}
.required,
.not-required {
  margin-top: 1.5rem;
  & label {
    opacity: 0;
    transition: 0.4s;
    font-size: 0.875em;
  }
  & .label {
    opacity: 1;
  }
}
.quantity {
  position: relative;
}
.increment {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: var(--color-background);
  background-image: url(../icons/chevron.svg);
  background-position: 50% 50%;
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
  cursor: pointer;
}
.decrement {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: var(--color-background);
  background-image: url(../icons/chevron.svg);
  background-position: 50% 50%;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0.6rem;
  right: 0.5rem;
  cursor: pointer;
}
