.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modalContainer {
  background-color: var(--color-background);
  border-radius: 8px;
  width: 88%;
  position: relative;
  padding: 3rem 0 2rem;
  box-sizing: border-box;
}

.modalContent {
  max-height: 79vh;
  overflow-y: scroll;
  padding: 0 1rem 2rem;
  box-sizing: border-box;
}

.closeIcon {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
}
