body {
  font-size: 18px;
  font-family: var(--sans-serif);
  line-height: 1.5;
  color: var(--color-text);
}

p {
  margin: 1.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  /* 1.6 * 16 = 24 */
  line-height: 1;
  /* 24 / 24 */
  margin: 1em 0;
}

h2 {
  font-size: 1.375em;
  /* 1.375 * 16 = 22 */
  line-height: 1.0909;
  /* 24 / 22 */
  margin: 1.0909em 0;
}

h3 {
  font-size: 1.25em;
  /* 1.25 * 16 = 20 */
  line-height: 1.2;
  /* 24 / 20 */
  margin: 1.2em 0;
}

h4 {
  font-size: 1.125em;
  /* 1.125 * 16 = 18 */
  line-height: 1.3333;
  /* 24 / 18 */
  margin: 1.3333em 0;
}

h5 {
  font-size: 1em;
  line-height: 1.5;
  /* 1.5 * 16 = 24 */
  margin: 1.5em 0;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
  /* 1.5 * 16 = 24 */
  margin: 1.5em 0;
}

small {
  font-size: 0.875em;
  /* .875 * 16 = 14 */
  line-height: 1.7143;
  /* 24 / 14 */
  margin: 1.7143em 0;
}

textarea {
  font-family: var(--sans-serif);
}
