:root {
  --color-link: pink;
  --color-link-hover: #ff9aac;
  --color-text: #555;

  --color-grey-scale: silver;
  --color-accent: pink;
  --color-error: red;
  --color-warning: orange;
  --color-success: lightgreen;
  --color-background: white;
  --color-white: white;

  --sans-serif: 'Trebuchet MS', Helvetica, sans-serif;

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-g: 1.25rem; /* 20px */
  --spacing-m: 2rem; /* 32px */
  --spacing-l: 4.5rem; /* 72px */
  --spacing-xl: 6rem; /* 96px */

  /* Font sizes */
  --font-size-s: 0.875rem; /* 14px */
  --font-size-m: 1rem;
  --font-size-l: 1.25rem; /* 20px */
  --font-size-xl: 1.875rem; /* 30px */
  --font-size-xxl: 2.25rem; /* 36px */
}
