video {
  max-width: 100%;
  height: auto;
}

.video-controls {
  display: flex;
  justify-content: space-between;
  & .play,
  & .pause,
  & .mute,
  & .volume,
  & .full-screen {
    cursor: pointer;
    & span {
      width: 36px;
      height: 36px;
      display: inline-block;
      border: none;
    }
  }

  & .play span {
    background-image: url(../icons/play.svg);
  }
  & .pause span {
    background-image: url(../icons/pause.svg);
  }
  & .mute span {
    background-image: url(../icons/mute.svg);
  }
  & .volume span {
    background-image: url(../icons/volume.svg);
  }
  & .full-screen span {
    background-image: url(../icons/full-screen.svg);
  }
  & input[type='range'] {
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      background: var(--color-text);
      height: 0.2em;
      outline: none;
      border: none;
    }
    &::-moz-range-track {
      background: var(--color-text);
      height: 0.2em;
      outline: none;
      border: none;
    }
    &::-ms-track {
      background: var(--color-text);
      height: 0.2em;
      outline: none;
      border: none;
    }
    &::-webkit-slider-thumb {
      background: var(--color-text);
      cursor: pointer;
      margin-top: -0.5em;
      outline: none;
      -webkit-appearance: none;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
    }
    &::-moz-range-thumb {
      background: var(--color-text);
      cursor: pointer;
      margin-top: -0.5em;
      outline: none;
      -webkit-appearance: none;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
    }
    &::-ms-thumb {
      background: var(--color-text);
      cursor: pointer;
      margin-top: -0.5em;
      outline: none;
      -webkit-appearance: none;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
    }
  }
}
